h1
{text-align: center;}
#datospersonales
{background-color: lightgrey;}
legend
{
border-color: black;
border-width: thin;
border-style: solid;
background-color: white}
#formadeacceso
{background-color: orange}
#documentosadjuntados
{background-color: red}
ul
{list-style-type: none}
